<div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3 tile">
        <a href="#" class="thumbnail">
          <img src="images/kidsJeans.jpg" alt="Camera Image"><br>
          <div class="product-name text-center">Kids Jeans</div><br>
          <div class="product-price text-center"> ₹.750/-</div><br>
        </a>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-info removeBtn" type="button">
                <span class="glyphicon glyphicon-minus"></span>
              </button></span>
            <div class="quantityDiv text-center">1</div>
            <span class="input-group-btn">
              <button class="btn btn-info addBtn" type="button">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control btn btn-warning" type="button" value="Add To Cart">
        </div>
      </div>
    </div>
  </div>