.loginForm {
    max-width: 350px;
    border: 1px solid #DFDFDE;
    padding: 1em;
    margin: auto;
    background: #f1f1f1;
    border-radius: 25px;
}

.btn-primary {
    width: 100%;
}

h3 {
    margin: 20px auto;
    max-width: 350px;
}

a.btn.btn-link {
    margin: 11px -11px 0;
}