.loginForm {
    max-width: 350px;
    border: 1px solid #DFDFDE;
    padding: 1em;
    margin: auto;
    background: #f1f1f1;
}

.btn-primary {
    width: 100%;
}

h3 {
    margin: 20px auto;
    max-width: 350px;
}