<div class="container">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <div class="tile">
          <div class="thumbnail">
            <img src='{{ product.product_img }}' alt="{{ product.product_alt }}"><br>
            <div class="product-price text-center"> ₹.{{ product.product_price }}/-</div><br>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-info removeBtn" type="button">
                  <span class="glyphicon glyphicon-minus"></span>
                </button></span>
              <div class="quantityDiv text-center">{{ product.product_qty }}</div>
              <span class="input-group-btn">
                <button class="btn btn-info addBtn" type="button">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control btn btn-warning" type="button" value="Add To Cart">
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <h2>{{ product.product_name }}</h2>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
              commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Cras justo odio, dapibus ac
              facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
              commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit. Cras justo odio, dapibus ac
              facilisis
              in, egestas eget quam. Fusce dapibus, tellus ac cursus
              commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit</p>
            <p class="pull-right"><a class="btn btn-primary" href="javascript:void(0)" role="button">View details
                &raquo;</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="{{ product.product_img }}" alt="{{ product.product_alt }}">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="{{ product.product_img }}" alt="{{ product.product_alt }}">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="{{ product.product_img }}" alt="{{ product.product_alt }}">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="{{ product.product_img }}" alt="{{ product.product_alt }}">
            </a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div> <!-- /container -->